<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zjxdqh.happchargeserver.mapper.FCouponsMapper">
	<sql id="column">
		t.id id, 
		t.coupon_name couponName, 
		t.coupon_desc couponDesc, 
		t.coupon_type couponType, 
		t.coupon_val couponVal, 
		t.start_time startTime, 
		t.expire_time expireTime, 
		t.coupon_stat couponStat, 
		t.create_time createTime 
	</sql>

	<!-- 根据map参数条件来查询 author:code_generator -->
	<select id="getList" parameterType="java.util.Map" resultType="com.zjxdqh.face.vo.FCoupons">
		SELECT
			<include refid="column"/>
		FROM f_coupons t
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="id != null and id != '' ">
  				AND t.id = #{id} 
  			</if>
			<if test="couponName != null and couponName != '' ">
  				AND t.coupon_name = #{couponName} 
  			</if>
			<if test="couponDesc != null and couponDesc != '' ">
  				AND t.coupon_desc = #{couponDesc} 
  			</if>
			<if test="couponType != null and couponType != '' ">
  				AND t.coupon_type = #{couponType} 
  			</if>
			<if test="couponVal != null and couponVal != '' ">
  				AND t.coupon_val = #{couponVal} 
  			</if>
			<if test="startTime != null and startTime != '' ">
  				AND t.start_time = #{startTime} 
  			</if>
			<if test="expireTime != null and expireTime != '' ">
  				AND t.expire_time = #{expireTime} 
  			</if>
			<if test="couponStat != null and couponStat != '' ">
  				AND t.coupon_stat = #{couponStat} 
  			</if>
			<if test="createTime != null and createTime != '' ">
  				AND t.create_time = #{createTime} 
  			</if>
		</trim>
	</select>

<!--#############################################################################-->
<!--############################### 自定义方法实现区 ################################-->
<!--#############################################################################-->





</mapper>
