<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zjxdqh.happchargeserver.mapper.SupersiveInfoMapper">
    <sql id="column">
		t.supersive_id supersiveId, 
		t.operator_id operatorId,
		t.org_id orgId,
		t.operator_name operatorName, 
		t.operator_secret operatorSecret, 
		t.sig_secret sigSecret, 
		t.data_secret dataSecret, 
		t.data_secret_iv dataSecretIv, 
		t.operator_url operatorUrl,
		t.create_time createTime,
		t.operator_stat operatorStat 
	</sql>

    <!-- 根据map参数条件来查询 author:code_generator -->
    <select id="getList" parameterType="java.util.Map" resultType="com.zjxdqh.face.vo.SupersiveInfo">
        SELECT
        <include refid="column"/>
        FROM supersive_info t
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="supersiveId != null and supersiveId != '' ">
                AND t.supersive_id = #{supersiveId}
            </if>
            <if test="operatorId != null and operatorId != '' ">
                AND t.operator_id = #{operatorId}
            </if>
            <if test="operatorName != null and operatorName != '' ">
                AND t.operator_name = #{operatorName}
            </if>
            <if test="operatorSecret != null and operatorSecret != '' ">
                AND t.operator_secret = #{operatorSecret}
            </if>
            <if test="sigSecret != null and sigSecret != '' ">
                AND t.sig_secret = #{sigSecret}
            </if>
            <if test="dataSecret != null and dataSecret != '' ">
                AND t.data_secret = #{dataSecret}
            </if>
            <if test="dataSecretIv != null and dataSecretIv != '' ">
                AND t.data_secret_iv = #{dataSecretIv}
            </if>
            <if test="createTime != null and createTime != '' ">
                AND t.create_time = #{createTime}
            </if>
            <if test="operatorStat != null and operatorStat != '' ">
                AND t.operator_stat = #{operatorStat}
            </if>
        </trim>
    </select>

    <!--#############################################################################-->
    <!--############################### 自定义方法实现区 ################################-->
    <!--#############################################################################-->


    <select id="getSupersiveInfoByPilenum" resultType="com.zjxdqh.face.vo.SupersiveInfo">

        SELECT si.* FROM supersive_info si
        LEFT JOIN supervise_evcs_site es ON si.supersive_id = es.supervise_id
        LEFT JOIN f_pile_site ps ON es.pile_site_id = ps.sid
        LEFT JOIN f_pile p ON ps.sid = p.sid
        WHERE si.operator_stat = 1

        <if test="pileNum != null">
            and pileNum = #{pileNum}
        </if>
    </select>

    <select id="getSupersiveInfoBySid" resultType="com.zjxdqh.face.vo.SupersiveInfo">

        SELECT si.* FROM supersive_info si
        LEFT JOIN supervise_evcs_site es ON si.supersive_id = es.supervise_id
        WHERE si.operator_stat = 1
        <if test="sid != null">
            and es.pile_site_id = #{sid}
        </if>
    </select>


</mapper>
